**

!Dockerfile
!.dockerignore
!package.json
!yarn.lock
!server-runtime/
!server-runtime/package.json
!server-runtime/yarn.lock
!LICENSE
!README.md

!bin/
!bin/**
!src/
!src/**
!test/
!test/**
!prisma/
!prisma/**
prisma/client/

!nodemon.json
!tsconfig.json
!tsconfig.base.json
!tsconfig.dist.json
