[Unit]
Description=Trucoshi Server
Documentation=https://github.com/jfrader/trucoshi.git
After=network.target

[Service]
Environment=NODE_PORT=4001
Environment=NODE_ORIGIN=http://localhost:3000
Type=simple
User=web
ExecStart=/usr/bin/node /home/www/trucoshi/bin/trucoshi-server
Restart=on-failure

[Install]
WantedBy=multi-user.target
